.contact {
  background: linear-gradient(60deg, rgb(20, 20, 20) 0%, rgb(2, 0, 34) 100%);
  margin-bottom: 0px;
  color: white;
  border-bottom: 2px solid rgb(112, 248, 243);
}

form {
  width: 70%;
  margin: 0% 15%;
  font-size: medium;
}

.contact-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.btn {
  margin-bottom: 40px;
  font-weight: bold;
  width: 100px;
}